.grid {
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }
  
  a {
    padding: 0px 5px 0px 5px;
    margin: 10px 15px 10px 15px;
  }
  